{% extends '../Base.html' %}

{% block content %}
    <br>
    <h2>Attendance Marking System</h2>
    <br>
    <h6> INTRODUCTION</h6><br>
    <p>
        The attendance maintaining system is difficult process if it is done manually. The smart and automated
        attendance system for managing the attendance can be implemented using the various ways of biometrics. Face
        recognition is one of them. By using this system, the issue of fake attendance and proxies can be solved.
    </p>
    <br>
    <p>Face recognition is a method of identifying or verifying the identity of an individual using their face. Face recognition systems can be used to identify people in photos, video, or in real-time.

    The attendance system will track employee location, time of clocking/out, and the report recorded. The attendance system will then process the data, to produce timesheet reports, lateness reports, absence reports, task and request reports.
    </p>
    <p><br> Support vector machines (SVMs) are powerful yet flexible supervised machine learning algorithms which are used both for classification and regression.

        The goal of SVM is to divide the datasets into classes to find a maximum marginal hyperplane (MMH).
       
       <br>
       Support Vectors − Datapoints that are closest to the hyperplane is called support vectors. Separating line will be defined with the help of these data points.
       
       Hyperplane − As we can see in the above diagram, it is a decision plane or space which is divided between a set of objects having different classes.
       
       Margin − It may be defined as the gap between two lines on the closet data points of different classes. It can be calculated as the perpendicular distance from the line to the support vectors. Large margin is considered as a good margin and small margin is considered as a bad margin.
    </p>
    <img src="https://static.javatpoint.com/tutorial/machine-learning/images/support-vector-machine-algorithm5.png" alt="My image">




    

{% endblock %}
